.navigationWrapper {
  position: sticky;
  top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.navigationWrapper.scrolled {
  background-color: rgb(92, 186, 221, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin: 0 auto;
}

.logo {
  width: 10rem;
  font-weight: bold;
}

.utilityMenu {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 24px;
  align-items: center;
  color: white;
  list-style-type: none;
}

.menuItem:hover {
  color: black;
}

.activeMenuItem {
  color: black;
}

.desktopMenu {
  font-weight: 700;
  font-size: 1.3rem;
  display: none;
  list-style-type: none;
}

.contactButton {
  background-color: white;
  color: black;
  display: none;
  padding: 8px 16px;
  border-radius: 20px 0px 20px 0px;
}

.contactButton:hover {
  background-color: black;
  color: white;
}

.contactLink {
  text-decoration: none;
  transition: background-color 0.3s;
}

.mobileMenuIcon {
  display: flex;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 75%;
  background-image: url("/assets/mobile-menu-background.png");
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  z-index: 50;
  padding: 24px;
}

.mobileMenuList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 80px;
  list-style-type: none;
}

.mobileMenuItem {
  font-size: 1.25rem;
  text-decoration: none;
  transition: color 0.3s;
}

.mobileContactButton {
  margin-top: 24px;
}

.languageButton {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
.languageIcon {
  color: black;
}
.languageIcon:hover {
  color: white;
}

.languageModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageModalContent {
  background: white;
  padding: 24px;
  border-radius: 8px;
  text-align: center;
}
.languageButtons {
  display: flex;
  margin-right: 10px;
}

.languageOption {
  display: block;
  /* margin: 12px auto; */
  padding: 0px 8px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
}

.activeLanguage {
  color: black;
}

.languageOption:hover {
  color: black;
}
.modalExitIcon,
.modalOpenIcon {
  z-index: 10000;
  font-size: 1.3rem;
  transform: scale(1.5);
}

.modalExitIcon:hover {
  color: #0077b6;
}

.modalOpenIcon:hover {
  color: white;
}

.mobileNavListItem {
  background-color: #6a4c93;
  padding: 0.5rem;
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activeMobileMenuItem {
  background-color: black;
  color: white;
}
.mobileNavListItem:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.mobileNavImageContainer {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mobileNavImage {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 850px) {
  .desktopMenu {
    display: flex;
  }

  .contactButton {
    display: block;
  }

  .utilityMenu {
    width: auto;
    position: relative;
    right: 0px;
  }

  .languageIcon {
    color: white;
  }
  .languageIcon:hover {
    color: black;
  }

  .mobileMenuIcon {
    display: none;
  }
}
